<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="stockMarketData">
      <h2 data-cy="stockMarketDataDetailsHeading">
        <span jhiTranslate="myaccount21App.stockMarketData.detail.title">Stock Market Data</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ stockMarketData.id }}</span>
        </dd>
        <dt><span jhiTranslate="myaccount21App.stockMarketData.symbol">Symbol</span></dt>
        <dd>
          <span>{{ stockMarketData.symbol }}</span>
        </dd>
        <dt><span jhiTranslate="myaccount21App.stockMarketData.dataDate">Data Date</span></dt>
        <dd>
          <span>{{ stockMarketData.dataDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="myaccount21App.stockMarketData.closeValue">Close Value</span></dt>
        <dd>
          <span>{{ stockMarketData.closeValue }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/stock-market-data', stockMarketData.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
