<div class="d-flex justify-content-center">
  <div class="col-8">
    <form *ngIf="bankAccount" name="balanceUpdateForm" (ngSubmit)="confirm()" [formGroup]="editForm">
      <div class="modal-header">
        <h4
          class="modal-title"
          data-cy="bankAccountDeleteDialogHeading"
          *ngIf="bankAccountBalanceUpdate?.atDateAmount"
          jhiTranslate="mya.entity.bankAccount.balanceUpdate.title"
          [translateValues]="{
            bankAccountName: bankAccount.accountName,
            atDateAmount: bankAccountBalanceUpdate!.atDateAmount | currency: 'EUR'
          }"
        ></h4>

        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
      </div>

      <div class="row mb-3 d-flex">
        <div class="col-sm-4">
          <div class="col-sm-12">
            <label
              class="form-label mt-4"
              jhiTranslate="mya.entity.bankAccount.balanceUpdate.initialAmount"
              for="field_initialAmount"
            ></label>
            <div class="form-group">
              <div class="input-group">
                <input
                  type="number"
                  class="form-control"
                  name="initialAmount"
                  id="field_initialAmount"
                  data-cy="initialAmount"
                  formControlName="initialAmount"
                />
                <span class="input-group-text">€</span>
              </div>
            </div>
          </div>
          <div
            *ngIf="
              editForm.get('initialAmount')!.invalid && (editForm.get('initialAmount')!.dirty || editForm.get('initialAmount')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('initialAmount')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Ce champ est obligatoire.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('initialAmount')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              Ce champ doit être un nombre.
            </small>
          </div>
          <div class="col-sm-8"></div>
        </div>

        <div class="col-sm-4">
          <div class="col-sm-12">
            <label
              class="form-label mt-4"
              jhiTranslate="mya.entity.bankAccount.balanceUpdate.adjustedAmount"
              for="field_atDateAmount"
            ></label>
            <div class="form-group">
              <div class="input-group">
                <input
                  type="number"
                  class="form-control"
                  name="atDateAmount"
                  id="field_atDateAmount"
                  data-cy="atDateAmount"
                  formControlName="atDateAmount"
                />
                <span class="input-group-text">€</span>
              </div>
            </div>
          </div>

          <div
            *ngIf="editForm.get('atDateAmount')!.invalid && (editForm.get('atDateAmount')!.dirty || editForm.get('atDateAmount')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('atDateAmount')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Ce champ est obligatoire.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('atDateAmount')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              Ce champ doit être un nombre.
            </small>
          </div>
        </div>
        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mya.entity.bankAccount.balanceUpdate.category" for="field_category">Category</label>
          <select
            class="form-control"
            id="field_category"
            data-cy="category"
            name="category"
            formControlName="category"
            [compareWith]="compareCategory"
            [(ngModel)]="selectedCategory"
            (change)="setSubCategoriesEvent()"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="categoryOption" *ngFor="let categoryOption of categories">
              {{ categoryOption.categoryName }}
            </option>
          </select>
        </div>
        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mya.entity.bankAccount.balanceUpdate.subCategory" for="field_subCategory"
            >subCategory</label
          >
          <select
            class="form-control"
            id="field_category"
            data-cy="subCategory"
            name="subCategory"
            formControlName="subCategory"
            [compareWith]="compareSubCategory"
          >
            <option [ngValue]="subCategoryOption" *ngFor="let subCategoryOption of subCategoriesOptions">
              {{ subCategoryOption.subCategoryName }}
            </option>
          </select>
        </div>
        <div class="row mb-3 d-flex">
          <div class="col-sm-6">
            <label class="form-label" jhiTranslate="mya.entity.bankAccount.balanceUpdate.adjustmentDate" for="field_date">Date</label>
            <div class="input-group">
              <input
                id="field_date"
                data-cy="balanceDate"
                type="text"
                class="form-control"
                name="balanceDate"
                ngbDatepicker
                #dateDp="ngbDatepicker"
                formControlName="balanceDate"
              />
              <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </div>
            <div
              *ngIf="editForm.get('balanceDate')!.invalid && (editForm.get('balanceDate')!.dirty || editForm.get('balanceDate')!.touched)"
            >
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('balanceDate')?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                Ce champ est obligatoire.
              </small>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
              <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="mya.global.action.cancel"></span>
            </button>

            <button
              id="jhi-confirm-delete-bankAccount"
              data-cy="entityConfirmDeleteButton"
              type="submit"
              class="btn btn-primary"
              [disabled]="editForm.invalid"
            >
              <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="mya.global.action.validate"></span>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
