<div class="d-flex justify-content-center">
  <div class="col-8">
    <form *ngIf="bankAccount" name="balanceUpdateForm" (ngSubmit)="confirm()" [formGroup]="editForm">
      <div class="modal-header">
        <h4
          class="modal-title"
          data-cy="bankAccountDeleteDialogHeading"
          jhiTranslate="mya.entity.bankAccount.balanceUpdate.title"
          [translateValues]="{
            bankAccountName: bankAccount.accountName,
            date: (lastOperationDate ? lastOperationDate.toDate() : '') | date: 'dd-MMM-YY'
          }"
        ></h4>

        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
      </div>

      <div class="row mb-3 d-flex">
        <div class="col-sm-4">
          <label
            class="form-label mt-4"
            jhiTranslate="mya.entity.bankAccount.balanceUpdate.initialAmount"
            for="field_initialAmount"
          ></label>
          <div class="form-group">
            <div class="input-group">
              <input
                type="number"
                class="form-control"
                name="initialAmount"
                id="field_initialAmount"
                data-cy="initialAmount"
                formControlName="initialAmount"
              />
              <span class="input-group-text">€</span>
            </div>
          </div>
        </div>
        <div
          *ngIf="editForm.get('initialAmount')!.invalid && (editForm.get('initialAmount')!.dirty || editForm.get('initialAmount')!.touched)"
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get('initialAmount')?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            Ce champ est obligatoire.
          </small>
          <small
            class="form-text text-danger"
            [hidden]="!editForm.get('initialAmount')?.errors?.number"
            jhiTranslate="entity.validation.number"
          >
            Ce champ doit être un nombre.
          </small>
        </div>
        <div class="col-sm-8"></div>
      </div>

      <div class="row mb-3 d-flex">
        <div class="col-sm-4">
          <label
            class="form-label mt-4"
            jhiTranslate="mya.entity.bankAccount.balanceUpdate.adjustedAmount"
            for="field_atDateAmount"
          ></label>
          <div class="form-group">
            <div class="input-group">
              <input
                type="number"
                class="form-control"
                name="atDateAmount"
                id="field_atDateAmount"
                data-cy="atDateAmount"
                formControlName="atDateAmount"
              />
              <span class="input-group-text">€</span>
            </div>
          </div>
        </div>

        <div
          *ngIf="editForm.get('atDateAmount')!.invalid && (editForm.get('atDateAmount')!.dirty || editForm.get('atDateAmount')!.touched)"
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get('atDateAmount')?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            Ce champ est obligatoire.
          </small>
          <small
            class="form-text text-danger"
            [hidden]="!editForm.get('atDateAmount')?.errors?.number"
            jhiTranslate="entity.validation.number"
          >
            Ce champ doit être un nombre.
          </small>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="mya.global.action.cancel"></span>
        </button>

        <button id="jhi-confirm-delete-bankAccount" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-primary">
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="mya.global.action.validate"></span>
        </button>
      </div>
    </form>
  </div>
</div>
