<button class="btn btn-outline-primary btn-sm" (click)="changeRange('5y')">
  <span class="hidden-sm-down"> 5y </span>
</button>
<button class="btn btn-outline-primary btn-sm" (click)="changeRange('2y')">
  <span class="hidden-sm-down"> 2y </span>
</button>
<button class="btn btn-outline-primary btn-sm" (click)="changeRange('1y')">
  <span class="hidden-sm-down"> 1y </span>
</button>
<button class="btn btn-outline-primary btn-sm" (click)="changeRange('6m')">
  <span class="hidden-sm-down"> 6m </span>
</button>
<button class="btn btn-outline-primary btn-sm" (click)="changeRange('1m')">
  <span class="hidden-sm-down"> 1m </span>
</button>
<button class="btn btn-outline-primary btn-sm" (click)="changeRange('all')">
  <span class="hidden-sm-down"> all </span>
</button>
<div style="display: block">
  <canvas baseChart id="myaAmountEvolution"></canvas>
</div>
