<div>
  <h2 id="page-heading" data-cy="BankAccountHeading">
    <span jhiTranslate="myaccountApp.bankAccount.home.title">Bank Accounts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="myaccountApp.bankAccount.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-bank-account"
        [routerLink]="['/bank-account/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="myaccountApp.bankAccount.home.createLabel"> Create a new Bank Account </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="myaccountApp.bankAccount.home.search">Query</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'myaccountApp.bankAccount.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        <button class="btn btn-danger" (click)="search('')" *ngIf="currentSearch">
          <fa-icon icon="trash-alt"></fa-icon>
        </button>
      </div>
    </div>
  </form>

  <div class="alert alert-warning" id="no-result" *ngIf="bankAccounts?.length === 0">
    <span jhiTranslate="myaccountApp.bankAccount.home.notFound">No bankAccounts found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="bankAccounts && bankAccounts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="myaccountApp.bankAccount.accountName">Account Name</span></th>
          <th scope="col"><span jhiTranslate="myaccountApp.bankAccount.accountBank">Account Bank</span></th>
          <th scope="col"><span jhiTranslate="myaccountApp.bankAccount.initialAmount">Initial Amount</span></th>
          <th scope="col"><span jhiTranslate="myaccountApp.bankAccount.archived">Archived</span></th>
          <th scope="col"><span jhiTranslate="myaccountApp.bankAccount.shortName">Short Name</span></th>
          <th scope="col"><span jhiTranslate="myaccountApp.bankAccount.account">Account</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bankAccount of bankAccounts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/bank-account', bankAccount.id, 'view']">{{ bankAccount.id }}</a>
          </td>
          <td>{{ bankAccount.accountName }}</td>
          <td>{{ bankAccount.accountBank }}</td>
          <td>{{ bankAccount.initialAmount }}</td>
          <td>{{ bankAccount.archived }}</td>
          <td>{{ bankAccount.shortName }}</td>
          <td>
            {{ bankAccount.account?.login }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/bank-account', bankAccount.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/bank-account', bankAccount.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(bankAccount)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
