<div>
  <h2 id="page-heading" data-cy="BankAccountHeading">
    <span jhiTranslate="myaccount21App.bankAccount.home.title">BankAccounts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="myaccount21App.bankAccount.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-bank-account"
        [routerLink]="['/bank-account/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="myaccount21App.bankAccount.home.createLabel"> Créer un nouveau Bank Account </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="myaccount21App.bankAccount.home.search"
          >Recherche pour Bank Account</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'myaccount21App.bankAccount.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        <button class="btn btn-danger" (click)="search('')" *ngIf="currentSearch">
          <fa-icon icon="trash-alt"></fa-icon>
        </button>
      </div>
    </div>
  </form>

  <div class="alert alert-warning" id="no-result" *ngIf="bankAccounts?.length === 0">
    <span jhiTranslate="myaccount21App.bankAccount.home.notFound">Aucun Bank Account trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="bankAccounts && bankAccounts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="accountName">
            <div class="d-flex">
              <span jhiTranslate="myaccount21App.bankAccount.accountName">Account Name</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="accountBank">
            <div class="d-flex">
              <span jhiTranslate="myaccount21App.bankAccount.accountBank">Account Bank</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="initialAmount">
            <div class="d-flex">
              <span jhiTranslate="myaccount21App.bankAccount.initialAmount">Initial Amount</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="archived">
            <div class="d-flex">
              <span jhiTranslate="myaccount21App.bankAccount.archived">Archived</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="shortName">
            <div class="d-flex">
              <span jhiTranslate="myaccount21App.bankAccount.shortName">Short Name</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="accountType">
            <div class="d-flex">
              <span jhiTranslate="myaccount21App.bankAccount.accountType">Account Type</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="account.nickName">
            <div class="d-flex">
              <span jhiTranslate="myaccount21App.bankAccount.account">Account</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bankAccount of bankAccounts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/bank-account', bankAccount.id, 'view']">{{ bankAccount.id }}</a>
          </td>
          <td>{{ bankAccount.accountName }}</td>
          <td>{{ bankAccount.accountBank }}</td>
          <td>{{ bankAccount.initialAmount }}</td>
          <td>{{ bankAccount.archived }}</td>
          <td>{{ bankAccount.shortName }}</td>
          <td jhiTranslate="{{ 'myaccount21App.BankAccountType.' + bankAccount.accountType }}">{{ bankAccount.accountType }}</td>
          <td>
            <div *ngIf="bankAccount.account">
              <a [routerLink]="['/application-user', bankAccount.account.id, 'view']">{{ bankAccount.account.nickName }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/stock-portfolio-item']"
                [queryParams]="{ 'filter[bankAccountId.in]': bankAccount.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('myaccount21App.bankAccount.stockPortfolioItem' | translate) }"
                  >Show Stock Portfolio Item</span
                >
              </button>
              <button
                type="submit"
                [routerLink]="['/bank-account', bankAccount.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/bank-account', bankAccount.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(bankAccount)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
