<div class="d-flex flex-row mb-3 align-items-center justify-content-between">
  <div>
    <h1 jhiTranslate="mya.entity.bankAccount.list.total" [translateValues]="{ amount: total | currency: 'EUR' }"></h1>
  </div>

  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" [(ngModel)]="withArchived" />
    <label class="form-check-label" for="flexSwitchCheckChecked" jhiTranslate="mya.entity.bankAccount.list.archivedSwitch"
      >Checked switch checkbox input</label
    >
  </div>
</div>

<div>
  <div class="card border-primary mb-3">
    <div class="card-header">
      <h2
        jhiTranslate="mya.entity.bankAccount.list.currentBankAccountHeader"
        [translateValues]="{ amount: currentAccountTotal | currency: 'EUR' }"
      >
        Budgets
      </h2>
    </div>
    <div class="card-body">
      <div class="table-responsive table-entities" id="entities" *ngIf="currentBankAccounts && currentBankAccounts.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
          <thead>
            <tr>
              <th scope="col">
                <div class="d-flex">
                  <span jhiTranslate="mya.entity.bankAccount.list.table.accountName">Account Name</span>
                </div>
              </th>
              <th scope="col">
                <div class="d-flex">
                  <span jhiTranslate="mya.entity.bankAccount.list.table.accountBank">Account Bank</span>
                </div>
              </th>
              <th scope="col">
                <div class="d-flex">
                  <span jhiTranslate="mya.entity.bankAccount.list.table.initialAmount">Initial Amount</span>
                </div>
              </th>
              <th scope="col">
                <div class="d-flex">
                  <span jhiTranslate="mya.entity.bankAccount.list.table.adjustmentAmount">Adjustment Amount</span>
                </div>
              </th>
              <th scope="col">
                <div class="d-flex">
                  <span jhiTranslate="mya.entity.bankAccount.list.table.operationTotal">Sum</span>
                </div>
              </th>
              <th>
                <div class="d-flex">
                  <span jhiTranslate="mya.entity.bankAccount.list.table.balance">Total</span>
                </div>
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr
              jhi-mya-bank-account-row
              [bankAccount]="bankAccount"
              [withArchived]="withArchived"
              (totalEvent)="addToTotalEvent($event)"
              *ngFor="let bankAccount of currentBankAccounts"
              data-cy="entityTable"
            ></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="card border-primary mb-3">
    <div class="card-header">
      <h2
        jhiTranslate="mya.entity.bankAccount.list.savingsBankAccountHeader"
        [translateValues]="{ amount: savingsAccountTotal | currency: 'EUR' }"
      >
        Budgets
      </h2>
    </div>
    <div class="card-body">
      <div class="table-responsive table-entities" id="entities" *ngIf="savingsBankAccounts && savingsBankAccounts.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
          <thead>
            <tr>
              <th scope="col">
                <div class="d-flex">
                  <span jhiTranslate="mya.entity.bankAccount.list.table.accountName">Account Name</span>
                </div>
              </th>
              <th scope="col">
                <div class="d-flex">
                  <span jhiTranslate="mya.entity.bankAccount.list.table.accountBank">Account Bank</span>
                </div>
              </th>
              <th scope="col">
                <div class="d-flex">
                  <span jhiTranslate="mya.entity.bankAccount.list.table.initialAmount">Initial Amount</span>
                </div>
              </th>
              <th scope="col">
                <div class="d-flex">
                  <span jhiTranslate="mya.entity.bankAccount.list.table.adjustmentAmount">Adjustment Amount</span>
                </div>
              </th>
              <th scope="col">
                <div class="d-flex">
                  <span jhiTranslate="mya.entity.bankAccount.list.table.operationTotal">Sum</span>
                </div>
              </th>
              <th>
                <div class="d-flex">
                  <span jhiTranslate="mya.entity.bankAccount.list.table.balance">Total</span>
                </div>
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr
              jhi-mya-bank-account-row
              [bankAccount]="bankAccount"
              [withArchived]="withArchived"
              (totalEvent)="addToTotalEvent($event)"
              *ngFor="let bankAccount of savingsBankAccounts"
              data-cy="entityTable"
            ></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="card border-primary mb-3">
    <div class="card-header">
      <h2
        jhiTranslate="mya.entity.bankAccount.list.portfolioBankAccountHeader"
        [translateValues]="{ amount: portfolioTotal | currency: 'EUR' }"
      >
        Budgets
      </h2>
    </div>
    <div class="card-body">
      <div class="table-responsive table-entities" id="entities" *ngIf="portfolioBankAccounts && portfolioBankAccounts.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
          <thead>
            <tr>
              <th scope="col">
                <div class="d-flex">
                  <span jhiTranslate="mya.entity.bankAccount.list.table.accountName">Account Name</span>
                </div>
              </th>
              <th scope="col">
                <div class="d-flex">
                  <span jhiTranslate="mya.entity.bankAccount.list.table.accountBank">Account Bank</span>
                </div>
              </th>
              <th scope="col">
                <div class="d-flex">
                  <span jhiTranslate="mya.entity.bankAccount.list.table.initialAmount">Initial Amount</span>
                </div>
              </th>
              <th scope="col">
                <div class="d-flex">
                  <span jhiTranslate="mya.entity.bankAccount.list.table.adjustmentAmount">Adjustment Amount</span>
                </div>
              </th>
              <th scope="col">
                <div class="d-flex">
                  <span jhiTranslate="mya.entity.bankAccount.list.table.operationTotal">Sum</span>
                </div>
              </th>
              <th>
                <div class="d-flex">
                  <span jhiTranslate="mya.entity.bankAccount.list.table.balance">Total</span>
                </div>
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr
              jhi-mya-bank-account-row
              [bankAccount]="bankAccount"
              [withArchived]="withArchived"
              (totalEvent)="addToTotalEvent($event)"
              *ngFor="let bankAccount of portfolioBankAccounts"
              data-cy="entityTable"
            ></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<button class="btn btn-outline-primary btn-sm" (click)="changeDashboardType('all')">
  <span class="hidden-sm-down"> Tous </span>
</button>
<button class="btn btn-outline-primary btn-sm" (click)="changeDashboardType('current')">
  <span class="hidden-sm-down"> Courant </span>
</button>
<button class="btn btn-outline-primary btn-sm" (click)="changeDashboardType('savings')">
  <span class="hidden-sm-down"> Epagne </span>
</button>
<button class="btn btn-outline-primary btn-sm" (click)="changeDashboardType('currentsavings')">
  <span class="hidden-sm-down"> Courant + Epargne </span>
</button>
<button class="btn btn-outline-primary btn-sm" (click)="changeDashboardType('portfolio')">
  <span class="hidden-sm-down"> Actions </span>
</button>
<jhi-mya-account-evolution [type]="dashboardType"></jhi-mya-account-evolution>
