<div class="col">
  <span class="form-label" jhiTranslate="mya.entity.operation.list.filter.bankAccount" for="field_bankAccount"
    >Choix du Compte en Banque</span
  >
  <select
    class="form-control form-select"
    id="field_bankAccount"
    name="bankAccount"
    [(ngModel)]="selectedBankAccount"
    (ngModelChange)="onChange($event)"
  >
    <option [ngValue]="bankAccount" *ngFor="let bankAccount of bankAccounts">
      {{ bankAccount.accountName }} ({{ bankAccount.accountBank }})
    </option>
  </select>
</div>

<div class="card border-primary mb-3">
  <div class="card-header">
    <h2 jhiTranslate="mya.entity.bankAccount.detail.portfolioBankAccountHeader"></h2>
  </div>
  <div class="card-body">
    <div class="table-responsive table-entities" id="entities" *ngIf="selectedBankAccount">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">
              <div class="d-flex">
                <span jhiTranslate="mya.entity.bankAccount.list.table.accountName">Account Name</span>
              </div>
            </th>

            <th scope="col">
              <div class="d-flex">
                <span jhiTranslate="mya.entity.bankAccount.list.table.initialAmount">Initial Amount</span>
              </div>
            </th>
            <th scope="col">
              <div class="d-flex">
                <span jhiTranslate="mya.entity.bankAccount.list.table.adjustmentAmount">Adjustment Amount</span>
              </div>
            </th>
            <th scope="col">
              <div class="d-flex">
                <span jhiTranslate="mya.entity.bankAccount.list.table.operationTotal">Sum</span>
              </div>
            </th>
            <th>
              <div class="d-flex">
                <span jhiTranslate="mya.entity.bankAccount.list.table.balance">Total</span>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td *ngIf="selectedBankAccount.shortName" [class]="selectedBankAccount.archived ? 'text-decoration-line-through' : ''">
              <span class="fw-bold">{{ selectedBankAccount.shortName }}</span>
              <span class="fst-italic">({{ selectedBankAccount.accountName }})</span>
            </td>
            <td *ngIf="!selectedBankAccount.shortName" [class]="selectedBankAccount.archived ? 'text-decoration-line-through' : ''">
              <span class="fw-bold">{{ selectedBankAccount.accountName }}</span>
            </td>

            <td class="text-end" [class]="selectedBankAccount.archived ? 'text-decoration-line-through' : ''">
              {{ selectedBankAccount.initialAmount | currency: 'EUR' }}
            </td>
            <td class="text-end" [class]="selectedBankAccount.archived ? 'text-decoration-line-through' : ''">
              {{ selectedBankAccount.adjustmentAmount | currency: 'EUR' }}
            </td>
            <td class="text-end" [class]="selectedBankAccount.archived ? 'text-decoration-line-through' : ''">
              {{ sumOfOperationAmount | currency: 'EUR' }}
            </td>
            <td
              class="text-end"
              [class]="selectedBankAccount.archived ? 'text-decoration-line-through' : ''"
              [class]="totalAmount < 0 ? 'text-danger' : ''"
            >
              {{ totalAmount | currency: 'EUR' }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="card border-primary mb-3" *ngFor="let portfolioSymbol of portfolioSymbols">
      <div class="card-header">
        <h2>{{ portfolioSymbol.symbol }}</h2>
      </div>
      <div class="card-body">
        <jhi-mya-portfolio-bank-account-symbol-summary
          [symbol]="portfolioSymbol.symbol"
          [stockPortfolioItems]="portfolioSymbol.stockPortfolioItems"
        >
        </jhi-mya-portfolio-bank-account-symbol-summary>
      </div>
    </div>
  </div>

  <jhi-mya-account-evolution type="portfolio"></jhi-mya-account-evolution>

  <div class="card border-primary mb-3">
    <div class="card-header">
      <h2
        jhiTranslate="mya.entity.bankAccount.summary.operationListTitle"
        [translateValues]="{ accountName: selectedBankAccount?.accountName + ' / ' + selectedBankAccount?.accountBank }"
      >
        Budgets
      </h2>
    </div>
    <div class="card-body">
      <jhi-mya-operation-list [selectedBankAccount]="selectedBankAccount"> </jhi-mya-operation-list>
    </div>
  </div>
</div>
