<div class="col">
  <span class="form-label" jhiTranslate="mya.entity.operation.list.filter.bankAccount" for="field_bankAccount"
    >Choix du Compte en Banque</span
  >
  <select
    class="form-control form-select"
    id="field_bankAccount"
    name="bankAccount"
    [(ngModel)]="selectedBankAccount"
    (ngModelChange)="onChange($event)"
  >
    <option [ngValue]="bankAccount" *ngFor="let bankAccount of bankAccounts">
      {{ bankAccount.accountName }} ({{ bankAccount.accountBank }})
    </option>
  </select>
</div>

<h3></h3>
<jhi-mya-evolution-between-dates
  [dateFrom]="dateFrom"
  [dateTo]="dateTo"
  height="100"
  [bankAccountId]="selectedBankAccount ? selectedBankAccount.id : null"
>
</jhi-mya-evolution-between-dates>

<div class="card border-primary mb-3">
  <div class="card-header">
    <h2
      jhiTranslate="mya.entity.bankAccount.summary.operationListTitle"
      [translateValues]="{ accountName: selectedBankAccount?.accountName + ' / ' + selectedBankAccount?.accountBank }"
    >
      Budgets
    </h2>
  </div>
  <div class="card-body">
    <jhi-mya-operation-list [selectedBankAccount]="selectedBankAccount"> </jhi-mya-operation-list>
  </div>
</div>
