<div>
  <h2 id="page-heading" data-cy="OperationHeading">
    <span jhiTranslate="myaccountApp.operation.home.title">Operations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="myaccountApp.operation.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-operation"
        [routerLink]="['/operation/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="myaccountApp.operation.home.createLabel"> Create a new Operation </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="myaccountApp.operation.home.search">Query</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'myaccountApp.operation.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        <button class="btn btn-danger" (click)="search('')" *ngIf="currentSearch">
          <fa-icon icon="trash-alt"></fa-icon>
        </button>
      </div>
    </div>
  </form>

  <div class="alert alert-warning" id="no-result" *ngIf="operations?.length === 0">
    <span jhiTranslate="myaccountApp.operation.home.notFound">No operations found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="operations && operations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="label">
            <span jhiTranslate="myaccountApp.operation.label">Label</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="date"><span jhiTranslate="myaccountApp.operation.date">Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="amount">
            <span jhiTranslate="myaccountApp.operation.amount">Amount</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="note">
            <span jhiTranslate="myaccountApp.operation.note">Note</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="checkNumber">
            <span jhiTranslate="myaccountApp.operation.checkNumber">Check Number</span>
            <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="isUpToDate">
            <span jhiTranslate="myaccountApp.operation.isUpToDate">Is Up To Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="deletingHardLock">
            <span jhiTranslate="myaccountApp.operation.deletingHardLock">Deleting Hard Lock</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="subCategory.subCategoryName">
            <span jhiTranslate="myaccountApp.operation.subCategory">Sub Category</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="account.login">
            <span jhiTranslate="myaccountApp.operation.account">Account</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="bankAccount.id">
            <span jhiTranslate="myaccountApp.operation.bankAccount">Bank Account</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let operation of operations; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/operation', operation.id, 'view']">{{ operation.id }}</a>
          </td>
          <td>{{ operation.label }}</td>
          <td>{{ operation.date | formatMediumDate }}</td>
          <td>{{ operation.amount }}</td>
          <td>{{ operation.note }}</td>
          <td>{{ operation.checkNumber }}</td>
          <td>{{ operation.isUpToDate }}</td>
          <td>{{ operation.deletingHardLock }}</td>
          <td>
            <div *ngIf="operation.subCategory">
              <a [routerLink]="['/sub-category', operation.subCategory?.id, 'view']">{{ operation.subCategory?.subCategoryName }}</a>
            </div>
          </td>
          <td>
            {{ operation.account?.login }}
          </td>
          <td>
            <div *ngIf="operation.bankAccount">
              <a [routerLink]="['/bank-account', operation.bankAccount?.id, 'view']">{{ operation.bankAccount?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/operation', operation.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/operation', operation.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(operation)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
