<form *ngIf="operation" name="deleteForm" (ngSubmit)="confirmDelete(operation!.id!)">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="operationDeleteDialogHeading" jhiTranslate="mya.entity.operation.dialog.delete.title">
      Confirmation de suppression
    </h4>

    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <p
      id="jhi-delete-operation-heading"
      jhiTranslate="mya.entity.operation.dialog.delete.question"
      [translateValues]="{ name: operation.label }"
    >
      Êtes-vous certain de vouloir supprimer le Operation {{ operation!.id }} ?
    </p>
    <p
      *ngIf="budgetItemPeriod"
      class="text-warning"
      jhiTranslate="mya.entity.operation.dialog.delete.budgetItemPeriodPresent"
      [translateValues]="{ name: budgetItemPeriod.budgetItem!.name }"
    >
      Attention, cette opération est pointée par le poste budgétaire {{ budgetItemPeriod.budgetItem!.name }}
    </p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
    </button>

    <button id="jhi-confirm-delete-operation" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
      <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Supprimer</span>
    </button>
  </div>
</form>
