<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="budgetItem">
      <h2 data-cy="budgetItemDetailsHeading"><span jhiTranslate="myaccountApp.budgetItem.detail.title">Budget Item</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ budgetItem.id }}</span>
        </dd>
        <dt><span jhiTranslate="myaccountApp.budgetItem.name">Name</span></dt>
        <dd>
          <span>{{ budgetItem.name }}</span>
        </dd>
        <dt><span jhiTranslate="myaccountApp.budgetItem.order">Order</span></dt>
        <dd>
          <span>{{ budgetItem.order }}</span>
        </dd>
        <dt><span jhiTranslate="myaccountApp.budgetItem.category">Category</span></dt>
        <dd>
          <div *ngIf="budgetItem.category">
            <a [routerLink]="['/category', budgetItem.category?.id, 'view']">{{ budgetItem.category?.categoryName }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="myaccountApp.budgetItem.account">Account</span></dt>
        <dd>
          <span>{{ budgetItem.account?.login }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/budget-item', budgetItem.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
