<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="bankAccount">
      <h2 data-cy="bankAccountDetailsHeading"><span jhiTranslate="myaccountApp.bankAccount.detail.title">Bank Account</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ bankAccount.id }}</span>
        </dd>
        <dt><span jhiTranslate="myaccountApp.bankAccount.accountName">Account Name</span></dt>
        <dd>
          <span>{{ bankAccount.accountName }}</span>
        </dd>
        <dt><span jhiTranslate="myaccountApp.bankAccount.accountBank">Account Bank</span></dt>
        <dd>
          <span>{{ bankAccount.accountBank }}</span>
        </dd>
        <dt><span jhiTranslate="myaccountApp.bankAccount.initialAmount">Initial Amount</span></dt>
        <dd>
          <span>{{ bankAccount.initialAmount }}</span>
        </dd>
        <dt><span jhiTranslate="myaccountApp.bankAccount.archived">Archived</span></dt>
        <dd>
          <span>{{ bankAccount.archived }}</span>
        </dd>
        <dt><span jhiTranslate="myaccountApp.bankAccount.shortName">Short Name</span></dt>
        <dd>
          <span>{{ bankAccount.shortName }}</span>
        </dd>
        <dt><span jhiTranslate="myaccountApp.bankAccount.account">Account</span></dt>
        <dd>
          <span>{{ bankAccount.account?.login }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/bank-account', bankAccount.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
