.home {
  color: rgb(194, 98, 119);
}

.cart-shopping {
  color: rgb(229, 142, 122);
}
.money-bill-transfer {
  color: rgb(50, 172, 234);
}
.children {
  color: rgb(193, 203, 135);
}
.close {
  color: grey;
}
.gamepad {
  color: rgb(137, 109, 156);
}
.school {
  color: rgb(211, 119, 169);
}
.utensils {
  color: rgb(99, 115, 155);
}
.car {
  color: rgb(227, 173, 110);
}
.bell-concierge {
  color: rgb(230, 210, 130);
}
.circle-h {
  color: rgb(105, 178, 169);
}
.euro-sign {
  color: rgb(97, 182, 14);
}
.chart-pie {
  color: rgb(136, 12, 81);
}
.circle-question {
  color: darkgrey;
}
