<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-bank-account-heading"
        data-cy="BankAccountCreateUpdateHeading"
        jhiTranslate="myaccountApp.bankAccount.home.createOrEditLabel"
      >
        Create or edit a Bank Account
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myaccountApp.bankAccount.accountName" for="field_accountName">Account Name</label>
          <input
            type="text"
            class="form-control"
            name="accountName"
            id="field_accountName"
            data-cy="accountName"
            formControlName="accountName"
          />
          <div *ngIf="editForm.get('accountName')!.invalid && (editForm.get('accountName')!.dirty || editForm.get('accountName')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('accountName')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myaccountApp.bankAccount.accountBank" for="field_accountBank">Account Bank</label>
          <input
            type="text"
            class="form-control"
            name="accountBank"
            id="field_accountBank"
            data-cy="accountBank"
            formControlName="accountBank"
          />
          <div *ngIf="editForm.get('accountBank')!.invalid && (editForm.get('accountBank')!.dirty || editForm.get('accountBank')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('accountBank')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myaccountApp.bankAccount.initialAmount" for="field_initialAmount">Initial Amount</label>
          <input
            type="number"
            class="form-control"
            name="initialAmount"
            id="field_initialAmount"
            data-cy="initialAmount"
            formControlName="initialAmount"
          />
          <div
            *ngIf="
              editForm.get('initialAmount')!.invalid && (editForm.get('initialAmount')!.dirty || editForm.get('initialAmount')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('initialAmount')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('initialAmount')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myaccountApp.bankAccount.archived" for="field_archived">Archived</label>
          <input type="checkbox" class="form-check" name="archived" id="field_archived" data-cy="archived" formControlName="archived" />
          <div *ngIf="editForm.get('archived')!.invalid && (editForm.get('archived')!.dirty || editForm.get('archived')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('archived')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myaccountApp.bankAccount.shortName" for="field_shortName">Short Name</label>
          <input type="text" class="form-control" name="shortName" id="field_shortName" data-cy="shortName" formControlName="shortName" />
          <div *ngIf="editForm.get('shortName')!.invalid && (editForm.get('shortName')!.dirty || editForm.get('shortName')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('shortName')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 40 }"
            >
              This field cannot be longer than 40 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myaccountApp.bankAccount.account" for="field_account">Account</label>
          <select class="form-control" id="field_account" data-cy="account" name="account" formControlName="account">
            <option *ngIf="!editForm.get('account')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="userOption.id === editForm.get('account')!.value?.id ? editForm.get('account')!.value : userOption"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.login }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['account'])!.invalid && (editForm.get(['account'])!.dirty || editForm.get(['account'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['account'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
