<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-operation-heading" data-cy="OperationCreateUpdateHeading" jhiTranslate="myaccountApp.operation.home.createOrEditLabel">
        Create or edit a Operation
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myaccountApp.operation.label" for="field_label">Label</label>
          <input type="text" class="form-control" name="label" id="field_label" data-cy="label" formControlName="label" />
          <div *ngIf="editForm.get('label')!.invalid && (editForm.get('label')!.dirty || editForm.get('label')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('label')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('label')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 400 }"
            >
              This field cannot be longer than 400 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myaccountApp.operation.date" for="field_date">Date</label>
          <div class="input-group">
            <input
              id="field_date"
              data-cy="date"
              type="text"
              class="form-control"
              name="date"
              ngbDatepicker
              #dateDp="ngbDatepicker"
              formControlName="date"
            />
            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          <div *ngIf="editForm.get('date')!.invalid && (editForm.get('date')!.dirty || editForm.get('date')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('date')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myaccountApp.operation.amount" for="field_amount">Amount</label>
          <input type="number" class="form-control" name="amount" id="field_amount" data-cy="amount" formControlName="amount" />
          <div *ngIf="editForm.get('amount')!.invalid && (editForm.get('amount')!.dirty || editForm.get('amount')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('amount')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('amount')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myaccountApp.operation.note" for="field_note">Note</label>
          <input type="text" class="form-control" name="note" id="field_note" data-cy="note" formControlName="note" />
          <div *ngIf="editForm.get('note')!.invalid && (editForm.get('note')!.dirty || editForm.get('note')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('note')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 400 }"
            >
              This field cannot be longer than 400 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myaccountApp.operation.checkNumber" for="field_checkNumber">Check Number</label>
          <input
            type="text"
            class="form-control"
            name="checkNumber"
            id="field_checkNumber"
            data-cy="checkNumber"
            formControlName="checkNumber"
          />
          <div *ngIf="editForm.get('checkNumber')!.invalid && (editForm.get('checkNumber')!.dirty || editForm.get('checkNumber')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('checkNumber')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 20 }"
            >
              This field cannot be longer than 20 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myaccountApp.operation.isUpToDate" for="field_isUpToDate">Is Up To Date</label>
          <input
            type="checkbox"
            class="form-check"
            name="isUpToDate"
            id="field_isUpToDate"
            data-cy="isUpToDate"
            formControlName="isUpToDate"
          />
          <div *ngIf="editForm.get('isUpToDate')!.invalid && (editForm.get('isUpToDate')!.dirty || editForm.get('isUpToDate')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('isUpToDate')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myaccountApp.operation.deletingHardLock" for="field_deletingHardLock"
            >Deleting Hard Lock</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="deletingHardLock"
            id="field_deletingHardLock"
            data-cy="deletingHardLock"
            formControlName="deletingHardLock"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myaccountApp.operation.subCategory" for="field_subCategory">Sub Category</label>
          <select class="form-control" id="field_subCategory" data-cy="subCategory" name="subCategory" formControlName="subCategory">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                subCategoryOption.id === editForm.get('subCategory')!.value?.id ? editForm.get('subCategory')!.value : subCategoryOption
              "
              *ngFor="let subCategoryOption of subCategoriesSharedCollection; trackBy: trackSubCategoryById"
            >
              {{ subCategoryOption.subCategoryName }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myaccountApp.operation.account" for="field_account">Account</label>
          <select class="form-control" id="field_account" data-cy="account" name="account" formControlName="account">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="userOption.id === editForm.get('account')!.value?.id ? editForm.get('account')!.value : userOption"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.login }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myaccountApp.operation.bankAccount" for="field_bankAccount">Bank Account</label>
          <select class="form-control" id="field_bankAccount" data-cy="bankAccount" name="bankAccount" formControlName="bankAccount">
            <option *ngIf="!editForm.get('bankAccount')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                bankAccountOption.id === editForm.get('bankAccount')!.value?.id ? editForm.get('bankAccount')!.value : bankAccountOption
              "
              *ngFor="let bankAccountOption of bankAccountsSharedCollection; trackBy: trackBankAccountById"
            >
              {{ bankAccountOption.id }}
            </option>
          </select>
        </div>
        <div
          *ngIf="editForm.get(['bankAccount'])!.invalid && (editForm.get(['bankAccount'])!.dirty || editForm.get(['bankAccount'])!.touched)"
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['bankAccount'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
